Using the `pandas` library, read the given data file and display the data.

In [3]:
# Kodą rašykite čia...
import pandas as pd
df = pd.read_csv('Birutė.csv', encoding='utf-8')
df

,Vardas,Pavardė,Matematika,Fizika,Biologija,Chemija,Istorija,Geografija,Lietuvių kalba,Anglų kalba,Informatika,Ekonomika,Kūno kultūra,Muzika,Dailė,Technologijos
0,Agnė,Petrauskaitė,10,10,8,10,9,8,10,9,8,8,9,10,8,10
1,Algirdas,Žukauskas,9,10,9,10,9,10,10,9,9,10,10,9,10,9
2,Dovilė,Baranauskaitė,8,10,4,8,10,7,5,4,7,7,9,7,10,8
3,Enrika,Jankauskaitė,4,10,4,8,9,6,10,7,5,8,6,10,7,9
4,Evaldas,Jankauskas,4,9,5,10,6,10,9,10,10,8,5,4,4,8
5,Fausta,Paulauskaitė,5,4,10,4,9,9,8,10,7,5,9,9,5,4
6,Gabija,Paulauskaitė,9,7,5,7,4,6,6,10,9,10,7,4,9,8
7,Gražina,Kazlauskaitė,7,9,10,10,9,9,6,10,7,9,6,8,8,5
8,Jurgita,Jankauskaitė,5,7,9,6,4,8,4,7,4,6,8,9,9,9
9,Liepa,Žilinskaitė,4,4,10,10,9,5,8,8,7,4,7,4,6,6
10,Modestas,Petrauskas,6,4,6,9,4,8,5,8,4,6,4,8,8,6
11,Orestas,Paulauskas,8,9,5,8,6,5,9,4,9,5,5,4,5,9
12,Petras,Baranauskas,10,9,8,10,10,9,8,10,9,9,8,10,8,10
13,Rita,Stankevičiutė,6,6,10,4,9,5,4,7,8,4,4,10,8,6
14,Šarūnas,Butkus,6,6,4,9,4,7,8,5,10,4,10,9,6,9

Add a new column `Vidurkis` and calculate the average for each student and round it to one decimal place.

In [4]:
# Kodą rašykite čia...

df['Vidurkis'] = (df['Matematika'] + df['Fizika'] + df['Biologija'] + df['Chemija'] +
                  df['Istorija'] + df['Geografija'] + df['Lietuvių kalba'] +
                  df['Anglų kalba'] + df['Informatika'] + df['Ekonomika'] +
                  df['Kūno kultūra'] + df['Muzika'] + df['Dailė'] + df['Technologijos']) / 14

df['Vidurkis'] = df['Vidurkis'].round(1)
df

,Vardas,Pavardė,Matematika,Fizika,Biologija,Chemija,Istorija,Geografija,Lietuvių kalba,Anglų kalba,Informatika,Ekonomika,Kūno kultūra,Muzika,Dailė,Technologijos,Vidurkis
0,Agnė,Petrauskaitė,10,10,8,10,9,8,10,9,8,8,9,10,8,10,9.1
1,Algirdas,Žukauskas,9,10,9,10,9,10,10,9,9,10,10,9,10,9,9.5
2,Dovilė,Baranauskaitė,8,10,4,8,10,7,5,4,7,7,9,7,10,8,7.4
3,Enrika,Jankauskaitė,4,10,4,8,9,6,10,7,5,8,6,10,7,9,7.4
4,Evaldas,Jankauskas,4,9,5,10,6,10,9,10,10,8,5,4,4,8,7.3
5,Fausta,Paulauskaitė,5,4,10,4,9,9,8,10,7,5,9,9,5,4,7.0
6,Gabija,Paulauskaitė,9,7,5,7,4,6,6,10,9,10,7,4,9,8,7.2
7,Gražina,Kazlauskaitė,7,9,10,10,9,9,6,10,7,9,6,8,8,5,8.1
8,Jurgita,Jankauskaitė,5,7,9,6,4,8,4,7,4,6,8,9,9,9,6.8
9,Liepa,Žilinskaitė,4,4,10,10,9,5,8,8,7,4,7,4,6,6,6.6
10,Modestas,Petrauskas,6,4,6,9,4,8,5,8,4,6,4,8,8,6,6.1
11,Orestas,Paulauskas,8,9,5,8,6,5,9,4,9,5,5,4,5,9,6.5
12,Petras,Baranauskas,10,9,8,10,10,9,8,10,9,9,8,10,8,10,9.1
13,Rita,Stankevičiutė,6,6,10,4,9,5,4,7,8,4,4,10,8,6,6.5
14,Šarūnas,Butkus,6,6,4,9,4,7,8,5,10,4,10,9,6,9,6.9

Find and print the name and surname of the best student and his/her average.

In [5]:
# Kodą rašykite čia...


geriausias_studentas = df.loc[df['Vidurkis'].idxmax()]

vardas = geriausias_studentas['Vardas']
pavarde = geriausias_studentas['Pavardė']
vidurkis = geriausias_studentas['Vidurkis']

print(f"The best student is {vardas} {pavarde} with an average of {vidurkis:.2f}.")

The best student is Algirdas Žukauskas with an average of 9.50.

Change the best student's first and last name to yours and print a few entries to see the change.

In [6]:
# Kodą rašykite čia...

geriausias_studentas = df.loc[df['Vidurkis'].idxmax()]
df.loc[geriausias_studentas.name, 'Vardas'] = 'Birute'
df.loc[geriausias_studentas.name, 'Pavardė'] = 'Lauzonyte'
print(df.head())

    Vardas        Pavardė  Matematika  Fizika  Biologija  Chemija  Istorija  \
0     Agnė   Petrauskaitė          10      10          8       10         9
1   Birute      Lauzonyte           9      10          9       10         9
2   Dovilė  Baranauskaitė           8      10          4        8        10
3   Enrika   Jankauskaitė           4      10          4        8         9
4  Evaldas     Jankauskas           4       9          5       10         6

   Geografija  Lietuvių kalba  Anglų kalba  Informatika  Ekonomika  \
0           8              10            9            8          8
1          10              10            9            9         10
2           7               5            4            7          7
3           6              10            7            5          8
4          10               9           10           10          8

   Kūno kultūra  Muzika  Dailė  Technologijos  Vidurkis
0             9      10      8             10       9.1
1            10       9     10              9       9.5
2             9       7     10              8       7.4
3             6      10      7              9       7.4
4             5       4      4              8       7.3

Create a function `stipendija_pagal_vidurki` that would accept a student's average (as an argument) and return the amount of the scholarship awarded to him  based on his average.
* When the average is greater than or equal to 9.5 scholarship 200
* When the average is greater than or equal to 9.0, but less than 9.5 scholarship 180
* When the average is greater than or equal to 8.5, but less than 9.0 scholarship 100
* If the average is less than 8.5, the student does not receive a scholarship (0)

In [8]:
def stipendija_pagal_vidurki(vidurkis):
    
    if vidurkis >= 9.5:
        return 200
    elif vidurkis >= 9.0:
        return 180
    elif vidurkis >= 8.5:
        return 100
    else:
        return 0

print(stipendija_pagal_vidurki)

<function stipendija_pagal_vidurki at 0x000002A4EB2F1440>

Add a new column `Stipendija` and fill the column with data using the `stipendija_pagal_vidurki` function based on the student's average.

In [9]:
# Kodą rašykite čia...

df['Stipendija'] = df['Vidurkis'].apply(stipendija_pagal_vidurki)
df

,Vardas,Pavardė,Matematika,Fizika,Biologija,Chemija,Istorija,Geografija,Lietuvių kalba,Anglų kalba,Informatika,Ekonomika,Kūno kultūra,Muzika,Dailė,Technologijos,Vidurkis,Stipendija
0,Agnė,Petrauskaitė,10,10,8,10,9,8,10,9,8,8,9,10,8,10,9.1,180
1,Birute,Lauzonyte,9,10,9,10,9,10,10,9,9,10,10,9,10,9,9.5,200
2,Dovilė,Baranauskaitė,8,10,4,8,10,7,5,4,7,7,9,7,10,8,7.4,0
3,Enrika,Jankauskaitė,4,10,4,8,9,6,10,7,5,8,6,10,7,9,7.4,0
4,Evaldas,Jankauskas,4,9,5,10,6,10,9,10,10,8,5,4,4,8,7.3,0
5,Fausta,Paulauskaitė,5,4,10,4,9,9,8,10,7,5,9,9,5,4,7.0,0
6,Gabija,Paulauskaitė,9,7,5,7,4,6,6,10,9,10,7,4,9,8,7.2,0
7,Gražina,Kazlauskaitė,7,9,10,10,9,9,6,10,7,9,6,8,8,5,8.1,0
8,Jurgita,Jankauskaitė,5,7,9,6,4,8,4,7,4,6,8,9,9,9,6.8,0
9,Liepa,Žilinskaitė,4,4,10,10,9,5,8,8,7,4,7,4,6,6,6.6,0
10,Modestas,Petrauskas,6,4,6,9,4,8,5,8,4,6,4,8,8,6,6.1,0
11,Orestas,Paulauskas,8,9,5,8,6,5,9,4,9,5,5,4,5,9,6.5,0
12,Petras,Baranauskas,10,9,8,10,10,9,8,10,9,9,8,10,8,10,9.1,180
13,Rita,Stankevičiutė,6,6,10,4,9,5,4,7,8,4,4,10,8,6,6.5,0
14,Šarūnas,Butkus,6,6,4,9,4,7,8,5,10,4,10,9,6,9,6.9,0

Count how many students receive which scholarship and print the result.

In [10]:
# Kodą rašykite čia...
stipendija_count = df.groupby('Stipendija').size()
print(stipendija_count)

Stipendija
0      12
180     2
200     1
dtype: int64

 Count the students by gender and print the result.

In [69]:
# Kodą rašykite čia...
studentai = {
    'Vardas': ['Agnė', 'Algirdas', 'Dovilė', 'Enrika', 'Evaldas', 'Fausta', 'Gabija', 'Gražina', 'Jurgita', 'Liepa', ' Modestas', 'Orestas', 'Petras','Rita', 'Šarūnas' ],
    'Lytis': ['Mot', 'Vyr', 'Mot', 'Mot', 'Vyr', 'Mot', 'Mot', 'Mot', 'Mot', 'Mot', 'Vyr', 'Vyr', 'Vyr', 'Mot', 'Vyr']
}

df3 = pd.DataFrame(studentai)
df3

gender_counts = df3['Lytis'].value_counts()
print(gender_counts)


def vyras_ar_moteris(p):
    if p[-1] == 's':
        return 'Vyras'
    return 'Moteris'

Lytis
Mot    9
Vyr    6
Name: count, dtype: int64